<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header" style="background-color: #107fb6!important;">
                      <h3 class="card-title text-center" style="color: #fff!important;font-weight: 500;">Cars Management</h3>
                  </div>
                  <div class="card-body">

                    <div class="row tool-bare">
                        <div class="pl-3">
                            <button class="btn btn-outline-primary btn-md btn-block" style="width: 100%;" type="button" (click)="onCarAdd()" >Add Car</button>
                        </div>
                        <div class="search-car">
                            <input type="search" class="form-control" (keyup)="changing($event)" placeholder="Search Car">
                        </div>
                    </div>
                    <hr>

                    <ng-container *ngIf="cars.length == 0 && marques.length == 0 && categories.length == 0">
                        <div class="container">
                            <div>
                                <img style="width: 100%;" src="../../../assets/img/Preloader.gif" alt="">
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="cars.length > 0 && marques.length > 0 && categories.length > 0">

                        <div class="dflex">
                            <div class="container">
                                <owl-carousel-o [options]="customOptions" class="m-2 pt-3 pb-3">
                                    <ng-template carouselSlide>
                                        <span (click)="filter('')" class="all" >ALL</span>
                                    </ng-template> 
                                    <ng-template carouselSlide *ngFor="let item of marques">
                                        <div class="all img-thumbnail" style="background-color: #fff!important;">
                                            <img (click)="filter(item.Libelle)" src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/Marques/{{item.Photo}}" alt="{{item.Libelle}}">
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </div>
                        <div class="album pt-5 bg-light">
                            <div class="container-fluid">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 cards"  *ngFor="let item of filterMarques | filter:searchKey:'Name' | slice: (page-1) * pageSize : page * pageSize">
                                        <span class="badg" [ngStyle]=""  data="">
                                            <span class="test" [ngClass]="item.Statut === 'Renting' ? 'zed' : 'loro' ">{{item.Statut}}</span>
                                        </span>
                                        <div class="card cardd shadow-sm">
                                            <img src="https://rumbustious-hilltop.000webhostapp.com/API/Photos/cars/{{item.Photo}}"  class="bd-placeholder-img card-img-top">
                                <div class="card-body testtt">
                                                <h4 style="white-space: nowrap;padding-bottom:5px;overflow:hidden;text-overflow: ellipsis;max-width: 70vw;">{{item.Name}}</h4>
                                                <p class="card-text" style="padding-bottom:5px;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;max-width: 70vw;">{{item.Description}}</p>
                                                <div class="d-flex justify-content-between align-items-center pb-2" style="height: 100%;" >
                                                
                                                <div style="height: 100%;" class="btn-group">
                                                    <div style="height: 100%;">
                                                        <button type="button" class="btn btn-sm btn-outline-secondary mr-2" (click)="navigateToDerail(item.ID)">Details</button>
                                                        <button type="button" class="btn btn-sm btn-outline-danger mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                                                        <button type="button" class="btn btn-sm btn-outline-success mr-2" (click)="onCarUpdate(item)"  >Update</button>
                                                    </div>
                                                </div><!-- data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container d-flex pt-2 mt-3">
                                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="cars.length"></ngb-pagination>
                            </div>
                        </div>  
                    </ng-container>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- modale Supprimer -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4>Are You Sure You Want To Delete This Car ?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
    </div>
    </div>
</div>
</div>
