<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color: #107fb6!important;">
                        <h3 class="card-title text-center" style="color: #fff!important;font-weight: 500;">Clients Management</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> Name </th>
                                    <th> Country </th>
                                    <th> City </th>
                                    <th> Salary </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Dakota Rice </td>
                                        <td> Niger </td>
                                        <td> Oud-Turnhout </td>
                                        <td class="text-primary"> $36,738 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  