/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
}
   
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    color: #107fb6;
    text-transform: uppercase;
}
   
.cta svg {
    transform: translateX(0);
    transition: all 0.3s ease;
    color: #107fb6;
    width: 20px;
}
   
.cta:hover svg {
    transform: translateX(-10px);
}
   
.cta:active svg {
    transform: scale(0.9);
}
   
.hover-underline-animation {
    position: relative;
    color: #107fb6;
    padding-bottom: 20px;
}
   
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #107fb6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
   
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}